<section class="intro-banner">
    <div>
        <img src="~/assets/img/breadcrumbs-woo.jpg" class="img-fluid">
        <div class="banner-text">
            <p class="banner-title">@ViewBag.Title</p>
        </div>
    </div>
</section>